{% extends 'base.html.twig' %}

{% block main %}
 <h1>Créer votre course</h1>
    <div id="test" class="container">
        <div class="card-panel">
         <div class="row" id="Row">
             <div class="large-6 large-offset-3 small-12 column">
                    <div class="card" style="background-color:#F5F7F8 ">
                     <div class="card-content grey-text">
                        {{  form_start(MeetingType) }}
                        {{ form_widget(MeetingType) }}
                        {{ form_end(MeetingType) }}
                    </div>
                 </div>
            </div>
        </div>
        </div>
    </div>

{% endblock %}