{% extends 'base.html.twig' %}

{% block main %}
    <!--------------------------------------------- Présentation ----------------------------------------------->
    <h1>L'association Athletik</h1>
    <div class="container">
        <div class="card-panel">
            <div class="row">
                   <div class="col s12 m8 l9">
                       <div class="card" style="background-color:#F5F7F8 ">
                           <div class="card-content grey-text">
                               <h2 class="card-title">Qui sommes nous? </h2>
                               <p>Lorem Ipsum est simplement du faux texte employé dans la composition
                                   etla mise en page avant impressi
                                   on. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années
                                   1500,quand un peintre
                                   anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen
                                   de polices de texte. Il
                                   n'a pas fait que survivre cinq siècles, mais s'est aussi adapté à la bureautique
                                   informatique, sans que
                                   son contenu n'en soit modifié. Il a été popularisé dans les année
                               </p>
                           </div>
                       </div>
                   </div>
            </div>
        </div>
    </div>
    <!--------------------------------------------- Prochaines courses ----------------------------------------------->
    <div class="container">
        <div class="card-panel">
            <div class="row">
                <div>
                    <div class="col s12 m8 l9">
                        <div class="card" style="background-color:#F5F7F8 ">
                            <div class="card-content grey-text">
                                <h3 class="card-title">Nos évenements</h3>
                                <p>Lorem Ipsum est simplement du faux texte employé dans la composition et la
                                    mise en page avant impression. Le Lorem Ipsum est le faux texte standard de
                                    l'imprimerie depuis les années 1500, quand un peintre anonyme assembla ensemble
                                    des morceaux de texte pour réaliser un livre spécimen de polices de texte.
                                    Il n'a pas fait que survivre cinq siècles, mais s'est aussi adapté à la bureautique
                                    informatique,
                                    sans que son contenu n'en soit modifié. Il a été popularisé dans les année
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <!----------------------------------------------------------------------------------------------------------------->
                                            <h1>Les prochaines courses</h1>

    <!--------------------------------------------- Flipcard ---------------------------------------------------------->
    <div class="row">

        {{ render(controller('AppBundle:Course:nextcourse')) }}
    <!----------------------------------------------------------------------------------------------------------------->
{% endblock %}


